@import '@styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, a {
  cursor: pointer;
}


.container {
  width: 1186px;
  margin: 0 auto;
  @media(max-width: 1199px) {
    width: 992px;
  }
  @media(max-width: 1023px) {
    width: 752px;
    padding: 0 8px;
  }
  @media(max-width: 767px) {
    width: 100%;
  }
}

.popover {
  &__content {
    background-color: $colorPrimaryWhite;
    padding: 16px;
    border-radius: 8px;
    @include shadow-Small;
  }
}
