@import '@styles/variables';

.logo {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 14px;
  letter-spacing: 0.004em;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.inverse {
  color: $colorPrimaryBlack;
}
