.layout {
  position: relative;
  @media(max-width: 1023px) {
    padding-bottom: 80px;
  }
}

.nav {
  width: 220px;
  margin-right: 8px;
  @media(max-width: 1023px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.content {
  flex: 1 0 auto;
  @media(max-width: 767px) {
    padding: 0 8px;
  }
}
