@import "@styles/variables";

.nav {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  @media(max-width: 1023px) {
    width: 100%;
    flex-direction: row;
    padding: 16px;
    margin: 0 -4px;
    width: calc(100% + 8px);
    overflow: hidden;
    justify-content: space-around;
  }
  @media(max-width: 1023px) {
    padding: 8px 16px;
  }
}

@mixin NavLink {
  padding: 11px 12px;
  border-radius: 8px;
  @include BodyLarge-MEDIUM;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media(max-width: 1023px) {
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    flex: 1 0 calc(16.6667% - 8px);
    max-width: calc(16.6667% - 8px);
    overflow: hidden;
  }
  @media(max-width: 767px) {
    padding: 8px 12px;
  }
}

.link {
  @include NavLink;
  color: rgba($colorPrimaryBlack, 0.5);
  path {
    fill: rgba($colorPrimaryBlack, 0.5);
  }
  &Active {
    @include NavLink;
    color: $colorPrimaryWhite;
    background-color: $colorPrimaryGold;
    path {
      fill: $colorPrimaryWhite;
    }
  }
  &Text {
    margin-left: 8px;
    @media(max-width: 1023px) {
      margin-left: 0;
      margin-top: 4px;
    }
    @media(max-width: 767px) {
      @include CaptionSmall-REGULAR;
      display: none;
    }
  }
}

.publish {
  margin-top: auto;
  background-color: $colorPrimaryBlue;
  color: $colorPrimaryWhite;
  justify-content: center;
  path {
    fill: $colorPrimaryWhite;
  }
}
