.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  @media(max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.main {
  flex: 1 0 auto;
  max-width: calc(100% - 228px);
  @media(max-width: 767px) {
    max-width: 100%;
  }
}
