@import '@styles/variables';

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.total {
  @include BodySmall-MEDIUM;
  color: $colorPrimaryBlue;
  padding: 0 8px;
  flex: 1 0 100%;
  @media(max-width: 1023px) {
    order: 1;
  }
}

.results {
  flex: 1 0;
  max-width: 100%;
  @media(max-width: 1023px) {
    order: 3;
  }
}

.rising {
  flex: 1 0;
  max-width: 220px;
  margin-left: 8px;
  margin-bottom: 8px;
  @media(max-width: 1023px) {
    order: 2;
    max-width: 100%;
    flex-basis: 100%;
    margin-left: 0;
  }
}

.pagination {
  max-width: 610px;
  padding: 0 8px;
  margin: 48px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
