@import "@styles/variables";

.area {
  position: relative;
}

.header {
  background-color: $colorPrimaryWhite;
  padding: 7px 8px;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #EDE9E9;
  @include BodyLarge-MEDIUM;
}
