@import "@styles/variables";

.paper {
  position: relative;
  padding-bottom: 64px;
  min-height: 100vh;
  background-color: $colorPrimaryWhite;
  &Header {
    margin-bottom: 0 !important;
  }
  &Top {
    background-color: $colorPrimaryBlack;
    padding-top: 42px;
    @media (max-width: 1023px) {
      padding-top: 24px;
    }
    &Content {
      position: relative;
      padding-bottom: 72px;
      @media (max-width: 767px) {
        padding: 0 8px 32px;
      }
    }
  }
  &Badge {
    background-color: $colorPrimaryWhite;
    border-radius: 8px;
    padding: 12px 24px 16px;
    width: 200px;
    position: absolute;
    bottom: -32px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include shadow-XLarge;
    @media (max-width: 767px) {
      position: relative;
      margin: 24px auto;
      bottom: auto;
      right: auto;
    }
    &Title {
      @include CaptionLarge-REGULAR;
      color: #5a5b5c;
      margin-bottom: 4px;
    }
    &Price {
      @include HeadingSmall-MEDIUM;
      color: $colorPrimaryBlack;
      margin-bottom: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      &Percent {
        margin-left: 4px;
        color: $colorSupportGreen;
        @include BodySmall-MEDIUM;
        &Minus {
          color: $colorSupportRed;
        }
      }
    }
    &Apy {
      padding: 2px 8px;
      @include CaptionLarge-MEDIUM;
      background-color: $colorPrimaryGray;
      border-radius: 4px;
      margin-bottom: 8px;
      display: inline-block;
    }
    &Users {
      list-style: none;
      margin: 0 0 16px;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      &Item {
        margin-left: -8px;
      }
      &More {
        background-color: $colorPrimaryBlue;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: -8px;
        border: 1px solid $colorPrimaryGray;
        color: $colorPrimaryWhite;
        svg {
          width: 18px;
          height: 18px;
        }
        path {
          fill: $colorPrimaryWhite;
        }
      }
    }
    &Actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &Btn {
      padding: 5px 18px;
      &Sell {
        background-color: $colorSupportRed;
        border-color: $colorSupportRed;
      }
    }
  }
  &Action {
    height: 32px;
    width: 32px;
    background-color: $colorPrimaryWhite;
    color: $colorPrimaryGold;
    padding: 6px;
    border: none;
    @include shadow-XLarge;
    border-radius: 50%;
    margin-right: 10px;
    svg {
      width: 18px;
      height: 18px;
      path {
        fill: $colorPrimaryGold;
      }
    }
    &Wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      bottom: -16px;
      left: 0;
      @media (max-width: 767px) {
        width: 100%;
        justify-content: center;
      }
    }
  }
  &Content {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  &Abstract {
    flex-basis: calc(100% - 300px);
    max-width: calc(100% - 300px);
    @media (max-width: 767px) {
      flex-basis: 100%;
      max-width: 100%;
    }
    &Title {
      @include HeadingSmall-MEDIUM;
      color: $colorPrimaryBlack;
      opacity: 0.7;
      margin-bottom: 8px;
    }
    &Text {
      @include BodyLarge-LIGHT;
      color: $colorPrimaryBlack;
      opacity: 0.7;
      margin-bottom: 16px;
      a {
        @include BodyLarge-MEDIUM;
        color: $colorPrimaryBlack;
        opacity: 0.7;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &Comments {
    flex-basis: 280px;
    max-width: 280px;
    @include shadow-XLarge;
    border-radius: 16px;
    padding: 12px;
    background-color: #fbfbfb;
    @media (max-width: 767px) {
      flex-basis: 100%;
      max-width: 100%;
    }
    &Title {
      @include BodyLarge-MEDIUM;
      margin-bottom: 12px;
      color: $colorPrimaryBlack;
    }
    &Empty {
      @include BodyLarge-REGULAR;
      color: rgba($colorPrimaryBlack, 0.4);
    }
  }
  &Preview {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    @include shadow-XLarge;
    &Error {
      padding-bottom: 0;
    }
    @media (max-width: 767px) {
      margin: 32px 0;
    }
  }
}

.date {
  @include BodyLarge-REGULAR;
  color: $colorPrimaryGray;
  opacity: 0.7;
  margin-bottom: 16px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.title {
  @include DisplayLarge-MEDIUM;
  color: $colorPrimaryWhite;
  margin-bottom: 16px;
  width: calc(100% - 200px);
  @media (max-width: 767px) {
    width: 100%;
    font-size: 32px;
  }
}

.authors {
  @include BodyLarge-REGULAR;
  color: $colorPrimaryGray;
  opacity: 0.7;
  margin-bottom: 24px;
  width: calc(100% - 200px);
  @media (max-width: 767px) {
    width: 100%;
    font-size: 14px;
  }
}

.version {
  @include BodyLarge-REGULAR;
  color: $colorPrimaryWhite;
  &Link {
    color: $colorPrimaryGold;
    text-decoration: none;
  }
}

.dropdown {
  @include shadow-Small;
  border-radius: 16px;
  background-color: #ffffff;
  margin-bottom: 12px;
  &Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    &Icon {
      background-color: #eff0f1;
      border-radius: 50%;
      padding: 8px;
      display: flex;
      margin-right: 12px;
      svg {
        width: 16px;
        height: 16px;
        path {
          fill: $colorPrimaryGold;
        }
      }
    }
    &Title {
      margin-right: auto;
      @include BodyLarge-MEDIUM;
    }
    &Status {
      height: 20px;
      width: 20px;
      background-color: #eff0f1;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  &Body {
    border-top: 1px solid #eff0f1;
    padding: 16px 24px;
  }
}

.graph {
  border-radius: 8px;
  background-color: $colorPrimaryWhite;
  &Frames {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 60px;
    @media (max-width: 767px) {
      justify-content: justify-content;
      width: 100%;
      margin: 0 auto;
    }
  }
  &Toggle {
    margin-right: 12px;
    padding: 2px 16px;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    color: $colorPrimaryBlack;
    @media (max-width: 767px) {
      width: 25%;
      margin: 0 12px;
    }
    &Active {
      color: $colorPrimaryGold;
      border-bottom: 1px solid $colorPrimaryGold;
    }
  }
}

.rewards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid $colorPrimaryGray;
  padding: 16px 24px;
  border-radius: 16px;
  margin-bottom: 16px;
  &Item {
    flex: 1 0 calc(33.3333% - 12px);
    max-width: calc(33.3333% - 12px);
    @media (max-width: 1023px) {
      flex: 1 0 100%;
      max-width: 100%;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &Title {
      @include BodyLarge-MEDIUM;
      margin-bottom: 8px;
    }
    &Content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background-color: $colorPrimaryGray;
      border-radius: 8px;
      padding: 16px;
      &Icon {
        width: 48px;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 14px;
        border-radius: 50%;
        border: 1px solid #e7e7e8;
        img {
          width: 24px;
        }
      }
      &Title {
        @include HeadingLarge-MEDIUM;
      }
    }
  }
  &Actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &Btn {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 12px;
      justify-content: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
    svg {
      margin-right: 8px;
    }
  }
}

.modal {
  background-color: $colorPrimaryWhite;
  width: calc(100vw - 32px);
  margin: auto;
  max-width: 1220px;
  border-radius: 16px;
  padding: 32px 54px;
  position: relative;
  &Close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: none;
    z-index: 1;
  }
  @media (max-width: 1199px) {
    max-width: 1024px;
  }
  @media (max-width: 767px) {
    padding: 16px;
  }
}
