@import "@styles/variables";

.player {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $colorPrimaryBlack;
  padding: 12px;
  border-radius: 8px;
  &Logo {
    color: $colorPrimaryWhite;
    @include BodyLarge-REGULAR;
    display: flex;
    flex-direction: row;
    flex: 1 0;
    @media(max-width: 767px) {
      span {
        display: none;
      }
    }
    img {
      margin-right: 8px;
    }
  }
  &Wave {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
  }
  &Control {
    flex: 1 0 24px;
    max-width: 24px;
  }
  &Btn {
    padding: 0;
    border: none;
    height: 24px;
    width: 24px;
    background-color: $colorPrimaryGold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 24px;
      width: 24px;
      margin-left: 2px;
      path {
        fill: $colorPrimaryBlack;
      }
    }
  }
}
