@import "@styles/variables";

.wallet {
  padding-bottom: 40px;
}

.title {
  margin-top: 92px;
  margin-bottom: 16px;
  @include HeadingLarge-BOLD;
  text-align: center;
}

.subtitle {
  @include BodySmall-REGULAR;
  text-align: center;
  margin-bottom: 40px;
  color: rgba($colorPrimaryBlack, 0.7);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  @media(max-width: 991px) {
    width: 100%;
    padding: 0 16px;
  }
  @media(max-width: 767px) {
    flex-wrap: wrap;
  }
}

.col {
  flex: 1 0 50%;
  max-width: calc(50% - 16px);
  @media(max-width: 767px) {
    flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.connected {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 24px;
  &Text {
    @include BodyLarge-REGULAR;
    color: $colorPrimaryBlack;
    margin-bottom: 12px;
    &Address, &Balance {
      display: block;
      color: $colorPrimaryGold;
      @include BodySmall-REGULAR;
    }
  }
}

.connect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  &Text {
    @include BodyLarge-MEDIUM;
    color: $colorPrimaryBlack;
  }
}

.header {
  background-color: $colorPrimaryGray;
  text-align: center;
  padding: 20px 12px;
  @include BodyLarge-MEDIUM;
  color: $colorPrimaryBlack;
  border-radius: 8px 8px 0 0;
}

.body {
  padding: 20px 24px;
  border: 1px solid rgba($colorPrimaryBlack, 0.2);
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.extention {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba($colorPrimaryBlack, 0.2);
  &Heading {
    color: $colorPrimaryBlack;
    @include BodyLarge-REGULAR;
    @media(max-width: 370px) {
      margin-bottom: 12px;
    }
  }
  &Links {
    display: flex;
  }
  &Chrome {
    margin-right: 8px;
  }
  &Firefox, &Chrome {
    @include BodySmall-REGULAR;
    border: 1px solid;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 18px;
    border-radius: 6px;
    background-color: transparent;
    color: $colorPrimaryGold;
    border-color: $colorPrimaryGold;
    path {
      fill: $colorPrimaryGold;
    }
  }
}

.mobile {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &Heading {
    color: $colorPrimaryBlack;
    @include BodyLarge-REGULAR;
  }
  &Links {
    &None {
      color: $colorPrimaryGold;
      @include BodySmall-REGULAR;
    }
  }
}

.arconnect {
  &Title {
    @include BodySmall-REGULAR;
    color: $colorPrimaryBlack;
  }
  &List {
    margin: 12px 0 0;
    padding-left: 0;
    list-style: none;
  }
  &Item {
    padding-left: 14px;
    margin-bottom: 6px;
    @include BodySmall-REGULAR;
    color: rgba($colorPrimaryBlack, 0.7);
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '';
      height: 6px;
      width: 6px;
      background-color: $colorPrimaryBlue;
      border-radius: 50%;
      position: absolute;
      top: 6px;
      left: 0;
    }
  }
}

.error {
  color: $colorSupportRed;
  @include BodySmall-REGULAR;
  position: absolute;
  top: -40px;
  width: 150%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.actions {
  max-width: 300px;
  position: relative;
  margin: 60px auto;
  text-align: center;
  @media(max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.back {
  position: absolute;
  right: calc(100% + 32px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @media(max-width: 767px) {
    margin-bottom: 16px;
    position: static;
  }
}

.next {
  width: 100%;
}

.skip {
  margin-top: 16px;
}
